* {
  box-sizing: border-box;
}

/* Style the body */
body {
  margin: 0;
}

/* Header/logo Title */
.top-header {
  padding: 15px;
  background: #037EAA;
  display: flex;
  flex-wrap: wrap;
}
.header-logo-flex {
  width: 50%;
}
.header-nav-flex {
  width: 50%;
}
.top-logo {
  margin-left: 10%;
}
/* Style the top navigation bar */
.top-navigation {
  font-family: Arial, helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;

}
.tab-example {
  width: 100%;
}
/* Style the navigation bar links */
.top-navigation a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color on hover */
.top-navigation a:hover {
  color: black;
}

.main-content-images {
  width: 100%;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-family: Arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-family: Arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-family: Arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

/* Create two unequal columns that sits next to each other */
.sidebar-style {
  flex: 25%;
  background-color: #1b447f;
  padding: 20px;
  color: white;
  font-family: Arial, helvetica, sans-serif;
  font-size: 17px;
}

.main-copy {
  flex: 75%;
  background-color: white;
  padding: 20px;
  font-family: Arial, helvetica, sans-serif;
  font-size: 17px;
}
.hidden {
  position: relative;
  left: -1000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
.schedule-layout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1%;
}

.schedule-item {
  background-color: #ecb722;
  width: 20%;
  padding: 1%;
}
blockquote {
  color: #03a3df;
  font-family: Arial, helvetica, sans-serif;
  font-size: 30px;
  margin-left: 15%;
}

footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/footerimage.jpg);
  background-size: 100% 100%;
}
.footer-content {
  width: 40%;
  font-size: .6rem;
  margin-right: 10px;

}
.footer-links ul {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
  margin-left: 0;
}
.footer-links li {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
  margin-left: 0;
}
.footer-links a {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
  padding: .4rem;

  }
.footer-text {
  font-weight: 400;
  font-size: .7rem;
  padding: 5%;
  line-height: 110%;
}

.footer-logo-flex {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}
.footer-section {
  margin: auto;
  width: 100%;
}
.footer-image {
  width: 30%;
  padding-top: 50px;
  padding: 5%;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar, .top-header, .schedule-item {
    flex-direction: column;
  }
  .header-logo-flex, .header-nav-flex {
    width: 100%;
  }
}
