* {
  box-sizing: border-box;
}

/* Style the body */
body {
  margin: 0;
}

/* Header/logo Title */
.top-header {
  padding: 15px;
  background: #03a3df;
}


/* Style the top navigation bar */
.top-navigation {
  display: flex;
  font-family: Arial, helvetica, sans-serif;
}

/* Style the navigation bar links */
.top-navigation a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: right;
}

/* Change color on hover */
.top-navigation a:hover {
  color: black;
}

.main-content-images {
  width: 100%;
}
/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
.sidebar-style {
  flex: 30%;
  background-color: #1b447f;
  padding: 20px;
  color: white;
}

/* Main column */
.main-copy {
  flex: 70%;
  background-color: white;
  padding: 20px;
  font-family: Arial, helvetica, sans-serif;
}

.endeavors-photos {
  display: flex;
}
.endeavors-photos > div {
margin: 10px;
padding: 20px;
font-size: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #03a3df;
}

.flex-container > div {
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
  .archery-tips {
      position: relative;
      top: 0;
      left: 0;
    }
    .point-logo
    {
      position: absolute;
      top: 60px;
      left: 80px;
    }

/* Footer */
footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5%;
  text-align: right;
}
.footer-links ul {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
}
.footer-links li {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
}
.footer-links a {
  color: white;
  font-weight: 600;
  font-size: .8rem;
  display: inline;
  text-decoration: none;
}
.footer-paragraph {
  font-size: .8rem;
  line-height: 1.5rem;
}
.footer-logo {
  padding-left: 5%;
  padding-right: 5%;
}
.footer-section {
  margin: auto;
  width: 35%;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
